site/
env/
build/
dist/
.eggs/
*.egg-info/
*.eggs
*.pyc
/__pycache__/
**/.idea/workspace.xml
**/.idea/tasks.xml
!**/site-packages/
topo/spectral/__pycache__/umap_layouts.rdist-36.py38.1.nbc
topo/spectral/__pycache__/umap_layouts.rdist-36.py38.nbi
